* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
}
:root {
  --blue: #2f78b8;
}
.container-div {
  /* width: 100vw; */
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
.header {
  border: 1px solid #eeeeee;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.title {
  color: #6e6e63;
}
.button-container {
  display: flex;
  justify-content: space-between;

}
.active-button {
  background-color: var(--blue);
  color: white;
  font-weight:800;
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 8px;
}
.deactive-button {
  color: var(--blue);
  border-radius: 5px;
  padding: 8px;
  font-weight: bolder;
  border: 1px solid white;
}
.middle-div {
  background-color: #eeeeee;
  padding: 2rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.middle-div--title {
  font-weight: 900;
  color: #323232;
  font-size: xx-large;
}
.middle-div--text {
  color: #87888a;
}
.middle-div--button {
  background-color: #5ab959;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: 0;
  padding: 10px;
}
.bottom-sub-div {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  color: #6a6b6d;
  justify-content: space-between;
}
.width-45 {
  width: 40%;
}
.width-90 {
  width: 90%;
}
.footer {
  display: flex;
  flex-direction: start;
border: 1px solid #eeeeee;
padding: 20px;
color: #a5a5a5; 
}
