* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.sub-container--1 {
  height: 20vh;
}
.green {
  background-color: #baffc9;
}
.yellow {
  background-color: #ffffba;
}
.orange {
  background-color: #ffdfba;
  height: 48%;
}
.blue {
  background-color: #bae1ff;
  height: 48%;
}
.red {
  background-color: #ffb3ba;
}

.sub-container--2 {
  display: flex;
  justify-content: space-between;
  height: 40vh;
  flex-wrap: wrap;
}
.white-box-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}
.white-box {
  background-color: #ffffff;
  padding: 10px;
}
.orange-blue-container {
    display: flex;
    flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 32%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
